<div class='intro'>
	<p class='intro__byline tk-atlas'>By 
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
		<time></time>{{copy.pubDate}}</time>
	</p>
	<div class='intro__prelude prelude--1'>
		{{#each copy.prelude}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>
	{{!-- <div class='intro__prelude prelude--2'>
		{{#each copy.prelude2}}
		<p>{{{value}}}</p>
		{{/each}}
	</div> --}}
	<h1 class='intro__hed tk-atlas'>{{copy.hed}}</h1>
	<p class='intro__dek tk-atlas'>{{copy.dek}}</p>
	
</div>