{{!-- <h3 class='section__hed'>{{copy.perspectiveHed}}</h3> --}}
<div id='perspective-scroll'>
	<figure class='scroll__figure'>
		<div class='figure__chart'>
			<svg>
				<g class='g-axis'>
					<g class='axis axis--x'></g>
					<g class='axis axis--y'></g>
				</g>
				<g class='g-vis'>
					<g class='people'></g>
				</g>
				<g class='g-voronoi'></g>
			</svg>
		</chart>
		<div class='figure__footer'>
			<figcaption class='x-small tk-atlas'>
				<em>{{{copy.perspectiveNote}}}</em>
			</figcaption>
			<p class='legend x-small'>{{{copy.perspectiveLegend}}}</p>
		</div>
	</figure>
	<article class='scroll__text'>
		{{#each copy.perspectiveSteps}}
		<div class='step' data-step='{{step}}'>
			<p>{{{text}}}</p>
		</div>
		{{/each}}
		<div class='step-hover'></div>
	</article>
</div>